# Инструкция: скопируйте этот файл, назовите его .env и подставьте свои данные

# Данные для инициализации контейнера PostgreSQL
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=mini_crm


# Строка подключения для бэкенда внутри сети Docker
DB_CONN="user=your_user password='your_password' host=postgres port=5432 dbname=mini_crm sslmode=disable"
